
<h2>My Trials</h2>

<table>
  <tr>
    <th>Trialname</th>
    <th> &nbsp &nbsp &nbsp </th>
    <th>Trialid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trials.each do |trial| %>
  <tr>
    <td><%= trial.trialName %> </td>
    <td> &nbsp &nbsp &nbsp </td>
    <td><%= trial.trialID %></td>
    <td><%= link_to 'View', trials_change_path(:id => trial.id) %></td> 
    <!--<td><%= link_to 'Destroy', trial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= button_to "Delete", trial, :method=>:delete,  :class=>:destroy %></td> -->
   <!--  <td> <div class = "btn btn-link" data-target="#editModal" data-toggle="modal"> Edit </div> </td> -->
 <!--     <td><%= link_to 'Edit', edit_trial_path(trial) %></td> -->

  </tr>
<% end %>
</table>

<br />
<!--
<%= link_to 'New Trial', new_trial_path %>
-->
