<% @trials.each do |trial| %>
<li 
<% if trial== @current_trial %>
class="active"
<% end %> 
>

<%= link_to trial.trialName, :controller => "trials", :action => "change_trial", :id => trial.id %></li>
<% end %>



<!--   Dan's Old Code



<h2>My Trials</h2>

<table>
  <tr>
    <th>Trialname</th>
    <th> &nbsp &nbsp &nbsp </th>
    <th>Trialid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr> 

<% @trials.each do |trial| %>
  <tr>
    <td><%= trial.trialName %> </td>
    <td> &nbsp &nbsp &nbsp </td>
<<<<<<< HEAD
    <td><%= trial.trialID %></td> -->
    <!--<td><%= link_to 'Show', trial %></td> 
    <td><%= link_to 'Destroy', trial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= button_to "Delete", trial, :method=>:delete,  :class=>:destroy %></td> -->
   <!--  <td> <div class = "btn btn-link" data-target="#editModal" data-toggle="modal"> Edit </div> </td> -->
 <!--     <td><%= link_to 'Edit', edit_trial_path(trial) %></td> -->

  <!-- </tr>
<% end %>
</table>

<br /> -->
<!--
<%= link_to 'New Trial', new_trial_path %>
-->
