<!--*************************** begin Edit Data ******************** -->  

<div class="tab-pane fade" id="edit">

<div class="row-fluid">
<div class= "span12">
        <legend>Add Data</legend>
      </div>
    </div>

<%= form_for @entry  do |f| %>


  <fieldset>
<div class="input-prepend">
  <span class="add-on">Enrolled </span>
  <%= f.text_field :enrolled,  :class => "span2", :type => 'text',
              :value => @last_entry.enrolled %>
  
</div>

<div class="input-prepend">
    <span class="add-on">Active    </span>
  <%= f.text_field :active, :class => "span2" , :type => 'text',
              :value => @last_entry.active %>
</div>
<div class="input-prepend">
    <span class="add-on">Completed</span>
  <%= f.text_field :completed, :class => "span2" , :type => 'text',
              :value => @last_entry.completed %>
</div>
<div class="input-prepend">
    <span class="add-on">Withdrawn</span>
  <%= f.text_field :withdrawn, :class => "span2" , :type => 'text',
              :value => @last_entry.withdrawn %>
</div>
<div class="input-prepend">
    <span class="add-on">Refused  </span>
  <%= f.text_field :refused, :class => "span2" , :type => 'text',
              :value => @last_entry.refused %>
</div>
<div class="input-prepend">
    <span class="add-on">Lost     </span>
  <%= f.text_field :lost, :class => "span2" , :type => 'text',
              :value => @last_entry.lost %>
</div>
<%= f.submit "Create", :class=>"btn btn-success"%>
<% end %>
<br />


<!--
<form>
<div class="input-append">
  <input class="span2" id="appendedInput" type="text" placeholder="0">
  <span class="add-on">Vulnerable</span>
</div>
</form>
<button type="submit" class="btn btn-success">Submit</button>



<form class="form-inline" action="#" method="post">
                <input id="quantity" type="text" class="input-small" placeholder="1" >
                    <div class="btn-group" data-toggle="buttons-checkbox">
                        <button name="enrolled" type="button" class="btn btn-primary">Enrolled</button>
                        <button type="button" class="btn btn-primary">Vulnerable</button>
                        <button type="button" class="btn btn-primary">Refused</button>
                        <button type="button" class="btn btn-primary">Withdrawn</button>
                        <button type="button" class="btn btn-primary">Lost</button>
                    </div>
                    
                    <button type="submit" class="btn btn-success">Add Subject(s)</button>
                    </form>

-->
<div class="row-fluid">
<div class= "span12">
       <legend>My Data</legend>
      </div>
    </div>

<table class = "table table-hover table-condensed table-bordered table-striped" style = "font-size:14px" id="data_table">
                
                <thead>
                    <tr>
                        <th style="text-align: left;">Date</th>
                        <th>Enrolled</th>
                        <th>Active</th>
                        <th>Completed</th>
                        <th>Withdrawn</th>
                        <th>Refused</th>
                        <th>Lost</th>
                    </tr>
                </thead>
                <tr>
                    <td style="text-align: left;"><b>Total</b></td>
                   <% @categories.each do |category| %>
                    <td ><b><%= @last_entry[category] %></b></td>
                <% end %> 
                </tr>


                <% @entries_recentFirst.each do |entry| %>
                <tr>
                    <td style="text-align: left;"><%= entry.input_at %><a style = "float:right; font-size:13px" href="#">edit  </a></td>
                    
                    <td><%= entry.enrolled %></td>

                    <td><%= entry.active %></td>
                    <td><%= entry.completed %></td>
                    <td><%= entry.withdrawn %></td>
                    <td><%= entry.refused %></td>
                    <td><%= entry.lost %></td>
                    <td ><%= link_to "delete", :controller => "entries", :action => "delete", :toDelete => entry.id %></td>
                </tr> 
                <% end %>                             
            </table>


            
        </div>
                            
                            
          <!--**************** end Edit Data ******************** -->