<!--*************************** begin Edit Data ******************** -->  

<div class="tab-pane fade" id="edit">
<!--




<form class="form-inline" action="#" method="post">
                <input id="quantity" type="text" class="input-small" placeholder="1" >
                    <div class="btn-group" data-toggle="buttons-checkbox">
                        <button name="enrolled" type="button" class="btn btn-primary">Enrolled</button>
                        <button type="button" class="btn btn-primary">Vulnerable</button>
                        <button type="button" class="btn btn-primary">Refused</button>
                        <button type="button" class="btn btn-primary">Withdrawn</button>
                        <button type="button" class="btn btn-primary">Lost</button>
                    </div>
                    
                    <button type="submit" class="btn btn-success">Add Subject(s)</button>
                    </form>

-->
<div class="row-fluid">
<div class= "span12">
       <legend>My Data</legend>
      </div>
    </div>

<table class = "table table-hover table-condensed table-bordered table-striped" style = "font-size:14px" id="data_table">
                
                <thead>
                    <tr>
                        <th style="text-align: left;">Date</th>
                        <th>Enrolled</th>
                        <th>Active</th>
                        <th>Completed</th>
                        <th>Withdrawn</th>
                        <th>Refused</th>
                        <th>Lost</th>
                    </tr>
                </thead>
                <tr>
                  <%= form_for @entry  do |f| %>
                    <td style="text-align: left;"><b>Today</b></td>
                   
                    <td ><b><%= f.text_field :enrolled, :type => 'text', :style =>"width:60px; height:30px; margin-bottom:0px; text-align:right",
              :value => @last_entry.enrolled %></b></td>
              <td ><b><%= f.text_field :active, :type => 'text', :style =>"width:60px; height:30px; margin-bottom:0px; text-align:right",
              :value => @last_entry.active %></b></td>
              <td ><b><%= f.text_field :completed, :type => 'text', :style =>"width:60px; height:30px; margin-bottom:0px; text-align:right",
              :value => @last_entry.completed %></b></td>
              <td ><b><%= f.text_field :withdrawn, :type => 'text', :style =>"width:60px; height:30px; margin-bottom:0px; text-align:right",
              :value => @last_entry.withdrawn %></b></td>
              <td ><b><%= f.text_field :refused, :type => 'text', :style =>"width:60px; height:30px; margin-bottom:0px; text-align:right",
              :value => @last_entry.refused %></b></td>
              <td ><b><%= f.text_field :lost, :type => 'text', :style =>"width:60px; height:30px; margin-bottom:0px; text-align:right",
              :value => @last_entry.lost %></b></td>
              <%= f.hidden_field :trial_id, :value => @current_trial.id %>
              <td><%= f.submit "Update", :class=>"btn btn-success"%></td>
                <% end %>
                </tr>


                <% @entries_recentFirst.each do |entry| %>
                <tr>
                    <td style="text-align: left;"><%= entry.input_at.strftime("%m/%d/%Y") %></td>
                    
                    <td><%= entry.enrolled %></td>

                    <td><%= entry.active %></td>
                    <td><%= entry.completed %></td>
                    <td><%= entry.withdrawn %></td>
                    <td><%= entry.refused %></td>
                    <td><%= entry.lost %></td>
                    <td ><%= link_to "delete", :controller => "entries", :action => "delete", :toDelete => entry.id %></td>
                </tr> 
                <% end %>                             
            </table>


            
        </div>
                            
                            
          <!--**************** end Edit Data ******************** -->