<!--*************************** begin Edit Data ******************** -->  

<div class="tab-pane fade

<% if session[:current_tab] == 'edit_data' %>
in active
  <% end %>

" id="edit">
<!--




<form class="form-inline" action="#" method="post">
                <input id="quantity" type="text" class="input-small" placeholder="1" >
                    <div class="btn-group" data-toggle="buttons-checkbox">
                        <button name="enrolled" type="button" class="btn btn-primary">Enrolled</button>
                        <button type="button" class="btn btn-primary">Vulnerable</button>
                        <button type="button" class="btn btn-primary">Refused</button>
                        <button type="button" class="btn btn-primary">Withdrawn</button>
                        <button type="button" class="btn btn-primary">Lost</button>
                    </div>
                    
                    <button type="submit" class="btn btn-success">Add Subject(s)</button>
                    </form>

-->
<div class="row-fluid">
<div class= "span12">
       <legend>My Data</legend>
      </div>
    </div>

<table class = "table table-hover table-condensed table-bordered table-striped" style = "font-size:14px" id="data_table">
                
                <thead>
                    <tr>
                        <th style="text-align: left;">Date</th>
                        <th>Enrolled</th>
                        <th>Active</th>
                        <th>Completed</th>
                        <th>Withdrawn</th>
                        <th>Refused</th>
                        <th>Lost</th>
                    </tr>
                </thead>
                <tr>
                  <% if @entry != nil %>
                  <% if @last_entry != nil %>
                  <%= form_for(@entry, :remote => true) do |f| %>
                    <td style="text-align: left;"><b>Today</b></td>
                   
              
                    <td ><b><%= f.text_field :enrolled, :type => 'text', :style =>"width:60px; height:30px; margin-bottom:0px; text-align:right",
              :value => @last_entry.enrolled %></b></td>
              <td ><b><%= f.text_field :active, :type => 'text', :style =>"width:60px; height:30px; margin-bottom:0px; text-align:right",
              :value => @last_entry.active %></b></td>
              <td ><b><%= f.text_field :completed, :type => 'text', :style =>"width:60px; height:30px; margin-bottom:0px; text-align:right",
              :value => @last_entry.completed %></b></td>
              <td ><b><%= f.text_field :withdrawn, :type => 'text', :style =>"width:60px; height:30px; margin-bottom:0px; text-align:right",
              :value => @last_entry.withdrawn %></b></td>
              <td ><b><%= f.text_field :refused, :type => 'text', :style =>"width:60px; height:30px; margin-bottom:0px; text-align:right",
              :value => @last_entry.refused %></b></td>
              <td ><b><%= f.text_field :lost, :type => 'text', :style =>"width:60px; height:30px; margin-bottom:0px; text-align:right",
              :value => @last_entry.lost %></b></td>
              <%= f.hidden_field :trial_id, :value => @current_trial.id %>
              <td><%= f.submit "Update", :class=>"btn btn-success"%></td>
              <%end%>
                <% end %>
                <%end%>
                </tr>

                <% if @entries_recentFirst != nil %>
                <% @entries_recentFirst.each do |entry| %>
                <tr id="entry_<%= entry.id %>" style="display:table-row">
                    <td style="text-align: left;" id="input_at_<%= entry.id %>"><%= entry.input_at.strftime("%m/%d/%Y") %></td>
                    
                    <td id="enrolled_<%= entry.id %>"><%= entry.enrolled %></td>

                    <td id="active_<%= entry.id %>"><%= entry.active %></td>
                    <td id="completed_<%= entry.id %>"><%= entry.completed %></td>
                    <td id="withdrawn_<%= entry.id %>"><%= entry.withdrawn %></td>
                    <td id="refused_<%= entry.id %>"><%= entry.refused %></td>
                    <td id="lost_<%= entry.id %>"><%= entry.lost %></td>
                    <td><a href = "#" onclick="javascript:editEntry(<%= entry.id %>)">edit</a>
                      <%= link_to 'Delete', entry_path(entry), :method => :delete, :toDelete => entry.id, :remote=>true, :class=>'delete_post' %></td>
                </tr> 

                <tr id="entry_form_<%= entry.id %>" style="display:none">
                   <%= form_for(entry, :remote => true) do |f| %>
                   <td style="text-align: left;"><b><%= f.text_field :input_at, :type => 'text', :style =>"width:90px; height:30px; margin-bottom:0px; text-align:right", :class=>"datepicker", :value => entry.input_at.strftime("%m/%d/%Y") %></b></td>
                   
                    <td ><b><%= f.text_field :enrolled, :type => 'text', :style =>"width:60px; height:30px; margin-bottom:0px; text-align:right",
              :value => entry.enrolled %></b></td>
              <td ><b><%= f.text_field :active, :type => 'text', :style =>"width:60px; height:30px; margin-bottom:0px; text-align:right",
              :value => entry.active %></b></td>
              <td ><b><%= f.text_field :completed, :type => 'text', :style =>"width:60px; height:30px; margin-bottom:0px; text-align:right",
              :value => entry.completed %></b></td>
              <td ><b><%= f.text_field :withdrawn, :type => 'text', :style =>"width:60px; height:30px; margin-bottom:0px; text-align:right",
              :value => entry.withdrawn %></b></td>
              <td ><b><%= f.text_field :refused, :type => 'text', :style =>"width:60px; height:30px; margin-bottom:0px; text-align:right",
              :value => entry.refused %></b></td>
              <td ><b><%= f.text_field :lost, :type => 'text', :style =>"width:60px; height:30px; margin-bottom:0px; text-align:right",
              :value => entry.lost %></b></td>
              <%= f.hidden_field :trial_id, :value => @current_trial.id %>
              <td><%= f.submit "Update", :class=>"btn btn-success"%></td>
                <% end %>
                </tr>
                <tr style="display:none;"></tr>
                <% end %> 
              <%end%>     
            </table>
<div id="test">
</div>


            
        </div>

        <script type="text/javascript">
            function editEntry(id) {
            var Oldrow = document.getElementById('entry_'.concat(id.toString()));
            Oldrow.style.display="none";

            var Newrow = document.getElementById('entry_form_'.concat(id.toString()));
            Newrow.style.display="table-row";

            
            }

        </script>
                            
                            
          <!--**************** end Edit Data ******************** -->