  <!--*************************** begin Edit Data ******************** -->  

<div class="tab-pane fade" id="edit">

<div class="row-fluid">
<div class= "span8">
        <h4>Add Data</h4> 
      </div>
    </div>

<%= form_for @entry  do |f| %>


  <fieldset>
<div class="input-append">
  <%= f.text_field :enrolled,  :class => "span2", :type => 'number',
              :placeholder => "0" %>
  <span class="add-on">Enrolled</span>
</div>

<div class="input-append">
  <%= f.text_field :active, :class => "span2" , :type => 'number',
              :placeholder => "0" %>
  <span class="add-on">Active</span>
</div>
<div class="input-append">
  <%= f.text_field :completed, :class => "span2" , :type => 'number',
              :placeholder => "0" %>
  <span class="add-on">Completed</span>
</div>
<div class="input-append">
  <%= f.text_field :withdrawn, :class => "span2" , :type => 'number',
              :placeholder => "0" %>
  <span class="add-on">Withdrawn</span>
</div>
<div class="input-append">
  <%= f.text_field :refused, :class => "span2" , :type => 'number',
              :placeholder => "0" %>
  <span class="add-on">Refused</span>
</div>
<div class="input-append">
  <%= f.text_field :lost, :class => "span2" , :type => 'number',
              :placeholder => "0" %>
  <span class="add-on">Lost</span>
</div>
<%= hidden_field :input_at, :name=>"input_at", :value =>Date.current() %>
<%= f.submit "Create" %>
<% end %>
<br />
<button type="submit" class="btn btn-success">Create new category</button>

<!--
<form>
<div class="input-append">
  <input class="span2" id="appendedInput" type="text" placeholder="0">
  <span class="add-on">Vulnerable</span>
</div>
</form>
<button type="submit" class="btn btn-success">Submit</button>

-->

<form class="form-inline" action="#" method="post">
                <input id="quantity" type="text" class="input-small" placeholder="1" >
                    <div class="btn-group" data-toggle="buttons-checkbox">
                        <button name="enrolled" type="button" class="btn btn-primary">Enrolled</button>
                        <button type="button" class="btn btn-primary">Vulnerable</button>
                        <button type="button" class="btn btn-primary">Refused</button>
                        <button type="button" class="btn btn-primary">Withdrawn</button>
                        <button type="button" class="btn btn-primary">Lost</button>
                    </div>
                    
                    <button type="submit" class="btn btn-success">Add Subject(s)</button>
                    </form>


<div class="row-fluid">
<div class= "span8">
        <h4>My Data</h4> 
      </div>
    </div>

<table class = "table table-hover table-condensed table-bordered table-striped" style = "font-size:14px" id="data_table">
                
                <thead>
                    <tr>
                        <th style="text-align: left;">Date</th>
                        <th>Enrolled</th>
                        <th>Active</th>
                        <th>Completed</th>
                        <th>Withdrawn</th>
                        <th>Refused</th>
                        <th>Lost</th>
                    </tr>
                </thead>
                
                <% @entries.each do |entry| %>
                <tr>
                    <td style="text-align: left;"><%= entry.input_at %><a style = "float:right; font-size:13px" href="#">edit  </a></td>
                    
                    <td><%= entry.enrolled %></td>
                    <td><%= entry.active %></td>
                    <td><%= entry.completed %></td>
                    <td><%= entry.withdrawn %></td>
                    <td><%= entry.refused %></td>
                    <td><%= entry.lost %></td>
                    <td ><%= link_to "delete", :controller => "entries", :action => "delete", :toDelete => entry.id %></td>
                </tr> 
                <% end %>                             
            </table>


            <form class="form-inline" action="#" method="post">
                <input id="quantity" type="text" class="input-small" placeholder="1" >
                    <div class="btn-group" data-toggle="buttons-checkbox">
                        <button name="enrolled" type="button" class="btn btn-primary">Enrolled</button>
                        <button type="button" class="btn btn-primary">Vulnerable</button>
                        <button type="button" class="btn btn-primary">Refused</button>
                        <button type="button" class="btn btn-primary">Withdrawn</button>
                        <button type="button" class="btn btn-primary">Lost</button>
                    </div>
                    
                    <button type="submit" class="btn btn-success">Add Subject(s)</button>
                    </form>
            <!--
            
            
            <table class = "table table-hover table-condensed table-bordered" style = "font-size:14px" id="data_table">
                
                <thead>
                    <tr>
                        <th style="text-align: left;">Subject</th>
                        <th>Enrolled</th>
                        <th>Vulnerable</th>
                        <th>Refused</th>
                        <th>Withdrawn</th>
                        <th>Lost</th>
                    </tr>
                </thead>
                <tr>
                    <td style="text-align: left;">D111<a style = "float:right; font-size:13px" href="#">edit</a>
                      <i style = "float:right" class="icon-pencil"></i></td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#d9edf7">No</td>

                </tr>
                <tr>
                    <td style="text-align: left;">D112<a style = "float:right; font-size:13px" href="#">edit  </a>
                      <i style = "float:right " class="icon-pencil"></i></td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                </tr>                                </tr>
                <tr>
                    <td style="text-align: left;">D113<a style = "float:right; font-size:13px" href="ff">edit</a>
                      <i style = "float:right " class="icon-pencil"></i></td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#d9edf7">No</td>
                </tr>
                <tr>
                    <td style="text-align: left;">D114<a style = "float:right; font-size:13px" href="#">edit</a>
                      <i style = "float:right " class="icon-pencil"></i></td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#d9edf7">No</td>
                </tr>
                <tr>
                    <td style="text-align: left;">D115<a style = "float:right; font-size:13px" href="#">edit</a>
                      <i style = "float:right " class="icon-pencil"></i></td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#d9edf7">No</td>
                </tr>
                <tr>
                    <td style="text-align: left;">D116<a style = "float:right; font-size:13px" href="#">edit</a>
                      <i style = "float:right " class="icon-pencil"></i></td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#d9edf7">No</td>
                </tr>
                <tr>
                    <td style="text-align: left;">D117<a style = "float:right; font-size:13px" href="#">edit</a>
                      <i style = "float:right " class="icon-pencil"></i></td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#d9edf7">No</td>
                </tr>
                <tr>
                    <td style="text-align: left;">D118<a style = "float:right; font-size:13px" href="#">edit</a>
                      <i style = "float:right " class="icon-pencil"></i></td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#d9edf7">No</td>
                </tr>
                <tr>
                    <td style="text-align: left;">D119<a style = "float:right; font-size:13px" href="#">edit</a>
                      <i style = "float:right " class="icon-pencil"></i></td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#d9edf7">No</td>
                </tr>
                <tr>
                    <td style="text-align: left;">D120<a style = "float:right; font-size:13px" href="#">edit</a>
                      <i style = "float:right " class="icon-pencil"></i></td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#D0F0C2">Yes</td>
                    <td style = "background-color:#d9edf7">No</td>
                    <td style = "background-color:#d9edf7">No</td>
                </tr>
            </table>
            -->
            
        </div>
                            
                            
          <!--**************** end Edit Data ******************** -->