<!--************************ New Trial Modal ****************************-->

<div id="addTrialModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="myModalLabel">Add Trial</h3>
  </div>

  <div class="modal-body" height="500px">
    <div class = "row-fluid"> 

  <div class="span6" style = "margin-bottom:15px; padding-left:30px;">
    <h4>Create a New Trial</h4>

<%= form_for(@trial) do |f| %>
  <% if @trial.errors.any? %>
  <ul>
    <% @trial.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


  <div class="field">   
    <label class="control-label" for="inputEmail">Trial Name (required)</label>
    <%= f.text_field :trialName, :minimum => 5, :style=>"height:30px; width:228px", :id => "trial_name" %>
  </div>

  <div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        More options
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">

  <div class="field">
   <label class="control-label" for="inputEmail">Enrolled Goal</label>
    <%= f.number_field :enrolledGoal, :style=>"height:30px; width:180px;" %>
  </div>
  <div class="field">
    <label class="control-label" for="inputEmail">Completed Goal</label>
    <%= f.number_field :completedGoal, :style=>"height:30px; width:180px;" %>
  </div>

<div class="field">
  <label class="control-label" for="inputEmail">Start Date</label>
    <%= f.text_field :startDate, :type => 'text', :style=>"height:30px; width:180px;", :class=>"datepicker", 
       :value => Date.today.strftime("%m/%d/%Y") %>
  </div>

<div class="field">
  <label class="control-label" for="inputEmail">End Date</label>
    <%= f.text_field :endDate, :type => 'text', :style=>"height:30px; width:180px;", :class=>"datepicker", 
       :value => (Date.today + 1.year).strftime("%m/%d/%Y") %>
  </div>
   
      </div>
    </div>
  </div>
</div>
<%= f.submit :class => "m-btn green rnd", :id => "new_trial", disable_with: "Submitting..." %>
    <% end %>

        <style>
          .datepicker{z-index:1151;}
        </style>


  </div>
</div>

        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
</div>
</div>

<script type="text/javascript">

function allTrials(query, process) {
                var data = ["sean", "nikhil", "dan", "ashwin", "shiv"];
                return data;

}

$("#new_trial").click(function(e) {
  e.preventDefault();
  var trialName = $('#trial_name').value
  alert("error")
  if (trialName == "") {
    alert("error");
  }
});

</script>

<!--**************** End Modal  ************************************-->

  









