<!--************************ New Trial Modal ****************************-->

<div id="addTrialModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="myModalLabel">Add a trial</h3>
  </div>

  <div class="modal-body" height="500px">
    <div class = "row-fluid">
    <div class="span5" style ="padding-left:15px;">
    <h4>Link an existing Trial</h4>
  <!--   <input class="span8" type="text" placeholder="Trial Name" data-provide="typeahead" data-source='["sean", "nikhil", "dan", "ashwin", "shiv"]'> -->
  </div>


    

  <div class="span6" style = "margin-bottom:15px; padding-left:30px; border-left: 1px solid #eeeeee">
    <h4>Create a new Trial</h4>

   <!--  <%= render 'trials/form' %> -->

<%= form_for(@trial) do |f| %>
  <% if @trial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trial.errors.count, "error") %> prohibited this trial from being saved:</h2>

      <ul>
      <% @trial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    <label class="control-label" for="inputEmail">Trial Name</label>
    <%= f.text_field :trialName, :style=>"height:30px" %>
  </div>
  <div class="field">

    <label class="control-label" for="inputEmail">Trial ID</label>
    <%= f.number_field :trialID, :style=>"height:30px" %>
  </div>

  <div class="field">
   <label class="control-label" for="inputEmail">Enrolled Goal (optional)</label>
    <%= f.number_field :enrolledGoal, :style=>"height:30px" %>
  </div>
  <div class="field">
    <label class="control-label" for="inputEmail">Completed Goal (optional)</label>
    <%= f.number_field :completedGoal, :style=>"height:30px" %>
  </div>

<div class="field">
  <label class="control-label" for="inputEmail">End Date (optional)</label>
    <%= f.text_field :endDate, :style=>"height:30px" %>
  </div>





    
    
  <!--       <fieldset>

            <input class="span8" type="text" placeholder="Trial Name"> 

            <div class="input-append">
                <input class="span8" type="text" placeholder="Invite Someone" id="appendedInputButton" type="text">
                <button class="btn" type="button">+</button>
            </div>

            <span class="help-block">*Optional - Enter a valid email</span>


 ****************** Advanced Options ***********************


<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">
  Advanced Options
</button> 
 
<div id="demo" class="collapse">
    <p>More Options Here</p>
       
    </div>
    <p></p>

 ****************** End Advanced Options ***********************




        </fieldset> -->
    
   <!--  <button type="submit" class="btn">Submit</button> -->


  </div>
</div>

  <div class="modal-footer">
    <%= f.submit :class => "btn btn-primary" %>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <!-- <button class="btn btn-primary" id = "addTrial" data-dismiss="modal">Add Trial</button> -->
     
    <% end %>
  </div>
</div>
</div>

<script type="text/javascript">

function allTrials(query, process) {
                var data = ["sean", "nikhil", "dan", "ashwin", "shiv"];
                return data;

}

</script>

<!--**************** End Modal  ************************************-->

  









