<head>
  <%= javascript_include_tag :defaults %>
</head>

<div class="tab-pane fade

<% if session[:current_tab] == 'settings' %>
in active
  <% end %>" id="settings">

  <div class = "row-fluid">

      <fieldset>
    <legend><%= @current_trial.trialName %> &nbsp <small>Last updated on <%= @current_trial.updated_at.strftime("%m/%d/%Y") %></small> </legend>
<div class = "span6">

<%= form_for @current_trial, :html=>{ :class=>"form-horizontal"} do |trial|  %>
 <form class="form-horizontal">

  <div class="control-group">
    <label class="control-label" for="inputEmail">Trial Name</label>
    <div class="controls">
       <%= trial.text_field :trialName, :type => 'text', :style=>"height:30px"%>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputPassword">Trial ID</label>
    <div class="controls">
       <%= trial.number_field :trialID, :type => 'text', :style=>"height:30px"%>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputPassword">Start Date</label>
    <div class="controls">
       <%= trial.text_field :startDate, :type => 'text', :style=>"height:30px"%>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputPassword">End Date</label>
    <div class="controls">
       <%= trial.text_field :endDate, :type => 'text', :style=>"height:30px"%>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputEmail">Enrolled Goal</label>
    <div class="controls">
      <%= trial.number_field :enrolledGoal, :type => 'text', :style=>"height:30px"%>
      <!--<input type="text" id="inputEmail" value='<%= @current_trial.enrolledGoal %>' style="height:30px">-->
    </div>
  </div>


  <div class="control-group">
    <label class="control-label" for="inputPassword">Completed Goal</label>
    <div class="controls">
      <%= trial.number_field :completedGoal, :type => 'text', :style=>"height:30px"%>
    </div>
  </div>




  <div class="control-group">
    <div class="controls">
      <table>
      <tr>
        <td>
          <%= trial.submit "Update", {:class => "btn btn-success", :onclick => "return confirm('Are you sure you want to update settings?')", :remote => true}%> 
        </td>
    <% end %>
        <td>
          &nbsp &nbsp
        </td>
        <td>
          <% if @current_crcs.length==1 %>
          &nbsp
          <%= button_to("Delete this Trial", {:controller => :trials,
          :action => 'destroy', :id => @current_trial.id }, {:class => "btn btn-danger", :onclick => "return confirm('Are you sure you want to delete this trial?')", :method => :delete, :remote => true}) %>
<% else %> 
&nbsp
<%= button_to("Remove me from this Trial", {:controller => :trials,
          :action => 'destroy', :id => @current_trial.id }, {:class => "btn btn-danger", :onclick => "return confirm('Are you sure you want to remove yourself from this trial?')", :method => :delete, :remote => true}) %>
<% end %>
        </td>
        
      </tr>
    </table>
</div>

</div>

</div>




      <table class = "table table-hover table-condensed table-bordered table-striped" style = "font-size:14px" id="data_table">
        <thead>
          <tr>
              <th style="text-align: left;">Request to be Included</th>
          </tr>

        </thread>
      </table>


</fieldset>

  </div>

  <div class "control-group">
    <legend> Invite CRCs </legend>
      <%= form_tag ("/invite") do%>
        <%= label_tag ("Type CRC name")%>
        <%= text_field_tag :inviteuser,'', :style => "height:30px" %>
        <%= submit_tag ('Invite'), :class => "btn btn-success" %>
      <%end%>
  </div>

</div>
</div> <!-- end span12 -->
