<head>
  <%= javascript_include_tag :defaults %>
  <style type="text/css">
    r {
      color:red;
    }
  </style>
</head>

<div class="tab-pane fade

<% if session[:current_tab] == 'settings' %>
in active
  <% end %>" id="settings">

  <div class = "row-fluid">

      <fieldset>
<% if @current_trial != nil %>
    <legend><%= @current_trial.trialName %> &nbsp <small>Last updated on <%= @current_trial.updated_at.strftime("%m/%d/%Y") %></small> </legend>


<%= form_for (@current_trial), :html=>{ :class=>"form-horizontal"} do |trial|  %>

 <form class="form-horizontal">

  <div class="control-group">
    <div class = "row-fluid">
    <label class="control-label" for="inputEmail">Trial Name</label>
    <div class="controls">
       <%= trial.text_field :trialName, :type => 'text', :style=>"height:30px"%> 
       <% if flash[:nameerror] %>
        <r><%= flash[:nameerror] %></r>
      <% end %>

    </div> 

   </div>
  </div>

       <%= trial.hidden_field :trialID %>

  <div class="control-group">
    <label class="control-label" for="inputPassword">Start Date</label>
    <div class="controls">
       <%= trial.text_field :startDate, :type => 'text', :style=>"height:30px", :class=>"datepicker", :value => @current_trial.startDate.strftime("%m/%d/%Y")%>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputPassword">End Date</label>
    <div class="controls">
       <%= trial.text_field :endDate, :type => 'text', :style=>"height:30px", :class=>"datepicker", 
       :value => @current_trial.endDate.strftime("%m/%d/%Y") %>
    </div>
  </div>


  <div class="control-group">
    <label class="control-label" for="inputEmail">Enrolled Goal</label>
    <div class="controls">
      <%= trial.number_field :enrolledGoal, :type => 'text', :style=>"height:30px"%>
      <!--<input type="text" id="inputEmail" value='<%= @current_trial.enrolledGoal %>' style="height:30px">-->
    </div>
  </div>


  <div class="control-group">
    <label class="control-label" for="inputPassword">Completed Goal</label>
    <div class="controls">
      <%= trial.number_field :completedGoal, :type => 'text', :style=>"height:30px"%>
    </div>
  </div>




  <div class="control-group">
    <div class="controls">
      <table>
      <tr>
        <td>
          <% if @user.id == @current_trial.userowner %>
          <%= trial.submit "Update", {:class => "btn btn-success", :onclick => "return confirm('Are you sure you want to update settings?')", :remote => true}%> 
          <% else %>
          <%= trial.submit "Update", {:class => "btn btn-success", :onclick => "return confirm('Are you sure you want to update settings?')", :disabled => true}%> 
          <% end %>
        </td>
    <% end %>
        <td>
          &nbsp &nbsp
        </td>
        <td>
        <% if @current_crcs != nil %>

          <% if @user.id == @current_trial.userowner %>
          &nbsp
          <%= button_to("Leave Trial", {:controller => :trials,
          :action => 'destroy', :id => @current_trial.id }, {:class => "btn btn-danger", :onclick => "return confirm('Are you sure? If you leave this trial, it will be deleted')", :method => :delete, :remote => true}) %>
          <% else %> 
          &nbsp
          <%= button_to("Leave Trial", {:controller => :trials,
                    :action => 'destroy', :id => @current_trial.id }, {:class => "btn btn-danger", :onclick => "return confirm('Are you sure you want to remove yourself from this trial?')", :method => :delete, :remote => true}) %>
          <% end %>
      <%end%>
        </td>
        
      </tr>
    </table>
    
</div>

</div>

</fieldset>
</div>  <!-- end row fluid -->

<%end%>

<div class = "row-fluid">
  <div class = "span12">

    <legend> Collaborators </legend>

    <% if @user.id == @current_trial.userowner %> <!--only the admin can see this part or invite people to the trial -->
    <div class = "row-fluid">
      <p style="font-size:17px"> As the <strong>administrator</strong> you can invite collaborators by entering their email or by telling them the trial-code. </p>
      <div class = "span4" style="padding-right:75px">

          <%= form_tag ("/invite") do%>   
            <%= text_field_tag :frienduser, '', :style => "height:30px", :placeholder => "Email" %>
            <% if (session[:inviteerror] != nil) %>
              <p style = "margin-top:3px;"> <font color="ff0000"><%= session[:inviteerror] %></font></p>
            <%end%>
          <% session[:inviteerror] = nil%>
          <%= submit_tag ('Send Invite'), :class => "btn btn-success" %>
          <%end%>
      </div>

      <div class="span7" style = "margin-bottom:15px; padding-left:50px; border-left: 1px solid #dddddd">
        <p style="font-size:17px">Trial-Code: <strong>
          <% if @current_trial != nil %>
          <%= @current_trial.id %> </strong>
        </p>
          <%end%>
        <small> They can join by clicking the green 'Add Trial' button and entering this code on the left side.</small>

      </div>

      <% end %>

    </div>
  </div>
<% if @user.id == @current_trial.userowner %>
  <div class = "row-fluid">
    <div class ="span11">
    </div>
  </div>

  <% end %>

    <div class = "row-fluid">

<table class="table table-striped table-condensed table-hover">
  <thead>
          <tr>
              <th style="text-align: left;">On this trial:</th>
            </tr>
          <% if @current_crcs != nil %>
              <% @current_crcs.each do |crc| %>
            <tr>
              <td> <%= crc.username %> <% if crc.id == @current_trial.userowner %> <i>(administrator)</i> <%end%> </td>
              <td> <%= crc.email %> </td>

       
              <td>
                <% if @user.id == @current_trial.userowner %> <!--'remove' button is only displayed for the owner -->
                  <% if crc.id != @current_trial.userowner %>
                    <%=  button_to("Remove CRC", {:controller => :home, :action => 'removeFriend', :id => @current_trial.id, :frienduser => crc}, 
                    {:form_class => "no-margin", :class => "btn btn-danger", :onclick => "return confirm('Are you sure you want to remove this CRC from the trial?')", :method => :delete, :remote => true}) %>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <% end %>

        <%end%>

        </thead>
      </table>

</div>
</div>

</div> <!-- end span12 -->
