<head>
  <%= javascript_include_tag :defaults %>
</head>

<div class="tab-pane fade

<% if session[:current_tab] == 'settings' %>
in active
  <% end %>" id="settings">

  <div class = "row-fluid">

      <fieldset>
<% if @current_trial != nil %>
    <legend><%= @current_trial.trialName %> &nbsp <small>Last updated on <%= @current_trial.updated_at.strftime("%m/%d/%Y") %></small> </legend>

<div class = "span6">

<%= form_for (@current_trial), :html=>{ :class=>"form-horizontal"} do |trial|  %>
 <form class="form-horizontal">

  <div class="control-group">
    <label class="control-label" for="inputEmail">Trial Name</label>
    <div class="controls">
       <%= trial.text_field :trialName, :type => 'text', :style=>"height:30px"%>
    </div>
  </div>

       <%= trial.hidden_field :trialID %>

  <div class="control-group">
    <label class="control-label" for="inputPassword">Start Date</label>
    <div class="controls">
       <%= trial.text_field :startDate, :type => 'text', :style=>"height:30px", :class=>"datepicker", :value => @current_trial.startDate.strftime("%m/%d/%Y")%>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputPassword">End Date</label>
    <div class="controls">
       <%= trial.text_field :endDate, :type => 'text', :style=>"height:30px", :class=>"datepicker", 
       :value => @current_trial.endDate.strftime("%m/%d/%Y") %>
    </div>
  </div>


  <div class="control-group">
    <label class="control-label" for="inputEmail">Enrolled Goal</label>
    <div class="controls">
      <%= trial.number_field :enrolledGoal, :type => 'text', :style=>"height:30px"%>
      <!--<input type="text" id="inputEmail" value='<%= @current_trial.enrolledGoal %>' style="height:30px">-->
    </div>
  </div>


  <div class="control-group">
    <label class="control-label" for="inputPassword">Completed Goal</label>
    <div class="controls">
      <%= trial.number_field :completedGoal, :type => 'text', :style=>"height:30px"%>
    </div>
  </div>




  <div class="control-group">
    <div class="controls">
      <table>
      <tr>
        <td>
          <%= trial.submit "Update", {:class => "btn btn-success", :onclick => "return confirm('Are you sure you want to update settings?')", :remote => true}%> 
        </td>
    <% end %>
        <td>
          &nbsp &nbsp
        </td>
        <td>
        <% if @current_crcs != nil %>
          <% if @current_crcs.length==1 %>
          &nbsp
          <%= button_to("Leave Trial", {:controller => :trials,
          :action => 'destroy', :id => @current_trial.id }, {:class => "btn btn-danger", :onclick => "return confirm('Are you sure? If you leave this trial, it will be deleted')", :method => :delete, :remote => true}) %>
<% else %> 
&nbsp
<%= button_to("Leave Trial", {:controller => :trials,
          :action => 'destroy', :id => @current_trial.id }, {:class => "btn btn-danger", :onclick => "return confirm('Are you sure you want to remove yourself from this trial?')", :method => :delete, :remote => true}) %>
<% end %>
<%end%>
        </td>
        
      </tr>
    </table>
    
</div>

</div>

</div> <!-- end span6 -->
</fieldset>
</div>  <!-- end row fluid -->

<%end%>

<div class = "row-fluid">
  <div class = "span12">


    <legend> Collaborators </legend>

      <p>The code to join this trial is: <strong>
      <% if @current_trial != nil %>
      <%= @current_trial.id %> </strong></p>
      <%end%>

<table class="table table-striped table-condensed table-hover">
  <thead>
          <tr>
              <th style="text-align: left;">On this trial:</th>
            </tr>
        <% if @current_crcs != nil %>
              <% @current_crcs.each do |crc| %>
            <tr>
              <td> <%= crc.username %> </td>
              <td> <%= crc.email %> </td>

            </tr>
            <% end %>
        <%end%>
          </tr>

        </thead>
      </table>
</div>
</div>

</div> <!-- end span12 -->
