<div class="tab-pane fade" id="settings">

  <div class = "row-fluid">

      <fieldset>
    <legend><%= @first_trial.trialName %> &nbsp <small>Last updated on <%= @first_trial.updated_at.strftime("%m/%d/%Y") %></small> </legend>

<%= form_for @first_trial, :html=>{ :class=>"form-horizontal"} do |trial|  %>
 <form class="form-horizontal">

  <div class="control-group">
    <label class="control-label" for="inputEmail">Trial Name</label>
    <div class="controls">
       <%= trial.text_field :trialName, :type => 'text', :style=>"height:30px"%>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputPassword">Trial ID</label>
    <div class="controls">
       <%= trial.text_field :trialID, :type => 'text', :style=>"height:30px"%>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputPassword">End Date</label>
    <div class="controls">
       <%= trial.text_field :endDate, :type => 'text', :style=>"height:30px"%>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputEmail">Enrolled Goal</label>
    <div class="controls">
      <%= trial.text_field :enrolledGoal, :type => 'text', :style=>"height:30px"%>
      <!--<input type="text" id="inputEmail" value='<%= @first_trial.enrolledGoal %>' style="height:30px">-->
    </div>
  </div>


  <div class="control-group">
    <label class="control-label" for="inputPassword">Completed Goal</label>
    <div class="controls">
      <%= trial.text_field :completedGoal, :type => 'text', :style=>"height:30px"%>
    </div>
  </div>


 <!-- <div class="control-group">
    <label class="control-label" for="inputPassword">End Date</label>
    <div class="controls">

<%= trial.text_field :endDate, :type => 'text', :style=>"height:30px", :id=>"datepicker" %>
    	 :value => @first_trial.endDate.strftime("%m/%d/%Y") logger.info(@first_trial.enrolledGoal)<input type="text" value='<%= @first_trial.endDate %>' id="datepicker" data-date-format="mm-dd-yyyy" style="height:30px"> 

    </div>
  </div> -->


  <div class="control-group">
    <div class="controls">
      <table>
      <tr>
        <td>
          <%= trial.submit "Update", :class=>"btn btn-success"%> 

        </td>
        <td>
          &nbsp &nbsp
        </td>

      </tr>
    </table>

</div>

</div>


  <div class "control-group">
    <legend> Your Friends </legend>
      <table class = "table table-hover table-condensed table-bordered table-striped" style = "font-size:14px" id="data_table">
        <thead>
          <tr>
              <% session[:connections].each do |c| %>
                  <td style="text-align: left;"><b><%= c %></b></td>
              <%end%>
          </tr>
        </thread>
      </table>
</fieldset>
    <% end %>
  </div>

  <div class "control-group">
    <legend> Invite Friends </legend>
      <%= form_tag ("/invite") do%>
        <%= label_tag ("Type CRC name")%>
        <%= text_field_tag :inviteuser %>
        <%= submit_tag ('Enter') %>
      <%end%>
  </div>

</div> <!-- end span12 -->
