<div class="tab-pane fade

<% if session[:current_tab] == 'settings' %>
in active
  <% end %>" id="settings">

  <div class = "row-fluid">

      <fieldset>
    <legend><%= @current_trial.trialName %> &nbsp <small>Last updated on <%= @current_trial.updated_at.strftime("%m/%d/%Y") %></small> </legend>
<div class = "span6">

<%= form_for @current_trial, :html=>{ :class=>"form-horizontal"} do |trial|  %>
 <form class="form-horizontal">

  <div class="control-group">
    <label class="control-label" for="inputEmail">Trial Name</label>
    <div class="controls">
       <%= trial.text_field :trialName, :type => 'text', :style=>"height:30px"%>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputPassword">Trial ID</label>
    <div class="controls">
       <%= trial.text_field :trialID, :type => 'text', :style=>"height:30px"%>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputPassword">End Date</label>
    <div class="controls">
       <%= trial.text_field :endDate, :type => 'text', :style=>"height:30px"%>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputEmail">Enrolled Goal</label>
    <div class="controls">
      <%= trial.text_field :enrolledGoal, :type => 'text', :style=>"height:30px"%>
      <!--<input type="text" id="inputEmail" value='<%= @current_trial.enrolledGoal %>' style="height:30px">-->
    </div>
  </div>


  <div class="control-group">
    <label class="control-label" for="inputPassword">Completed Goal</label>
    <div class="controls">
      <%= trial.text_field :completedGoal, :type => 'text', :style=>"height:30px"%>
    </div>
  </div>




  <div class="control-group">
    <div class="controls">
      <table>
      <tr>
        <td>
          <%= trial.submit "Update", :class=>"btn btn-success"%> 

        </td>
        <td>
          &nbsp &nbsp
        </td>

      </tr>
    </table>
</div>

</div>

</div>

   <div class = "span3 offset7" style = "float:right margin-top:10px">
    <table>
      Collaborators
    <% @current_crcs.each do |crc| %>
    <tr>
      <td> <%= crc.username %> </td>
      <td> &nbsp</td>
      <td> <%= crc.email %> </td>

    </tr>
    <% end %>
    </table>
  </div>

</div>


      <table class = "table table-hover table-condensed table-bordered table-striped" style = "font-size:14px" id="data_table">
        <thead>
          <tr>
              <th style="text-align: left;">Request to be Included</th>
          </tr>

        </thread>
      </table>


</fieldset>
    <% end %>
  </div>

  <div class "control-group">
    <legend> Invite CRCs </legend>
      <%= form_tag ("/invite") do%>
        <%= label_tag ("Type CRC name")%>
        <%= text_field_tag :inviteuser %>
        <%= submit_tag ('Enter') %>
      <%end%>
  </div>

</div> <!-- end span12 -->
