<div class="tab-pane fade" id="settings">

  <div class = "row-fluid">

      <fieldset>
    <legend>Goals</legend>

 <form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputEmail">Enrolled Goal</label>
    <div class="controls">
      <input type="text" id="inputEmail" value='<%= @first_trial.enrolledGoal %>' style="height:30px">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputPassword">Completed Goal</label>
    <div class="controls">
      <input type="text" id="inputPassword" value='<%= @first_trial.completedGoal %>' style="height:30px">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputPassword">End Date</label>
    <div class="controls">

      <input type="text" value='<%= @first_trial.endDate %>' id="datepicker" data-date-format="mm-dd-yyyy" style="height:30px">
      
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
  <button type="submit" class="btn btn-success">Update</button>
  <small>Last updated on 12-24-2012</small>
</div>
</div>
</fieldset>
</form>


  </div>

  <div class = "row-fluid">
    <div class="span12">


    <fieldset>
       <legend>Trial</legend>

 <form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputEmail">Trial ID</label>
    <div class="controls">
      <input type="text" id="inputEmail" value='<%= @first_trial.trialID %>' style="height:30px">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputPassword">Trial Name</label>
    <div class="controls">
      <input type="text" id="inputPassword" value='<%= @first_trial.trialName %>' style="height:30px">
    </div>
  </div>

<div class="control-group">
    <div class="controls">
  <button type="submit" class="btn btn-success">Update</button>
  <small>Last updated on 12-24-2012</small>
</div>
</div>
</fieldset>
</form>

    </div> <!-- end span12 -->
  </div>

</div><!-- end settings -->
</div><!-- end settings -->