<!--************************* begin View Trends ******************** -->
                            
    <div class="tab-pane fade in active" id="home">

<div class="row-fluid">
<div class= "span8">

        <h4>Subjects</h4> 

        <div id="bar_chart" style="display:inline; float:left"></div>
    </div>
    <div class = "span4">

        <table class="table table-condensed table-hover" style="display:inline; float:right; margin-top:10px">
            <tr style="border-top: 2px solid #ccc;"><th style = "font-size:14px;">Total Subjects</th><td style = "font-size:14px; text-align: right;">4056</td></tr>
            <tr><th style = "font-size:14px">Trial Period</th><td style = "font-size:14px; text-align: right;">Jan 1st - July 14th</td></tr>
           
       <!--      <tr><th></th><td style = "font-size:14px; text-align: right;"> <a href= "#"> Invite Someone</a></td></tr> -->
</table>

</div>
</div> <!-- end row -->

        <div class = "span11" style="border-bottom: 1px solid #ddd; margin-bottom:20px;"> </div>




<ul class="nav nav-pills">
  <li class="active"><a href="#enrolled" data-toggle="pill">Enrolled</a></li>
    <li><a href="#active" data-toggle="pill">Active</a></li>
      <li><a href="#completed" data-toggle="pill">Completed</a></li>
    <li><a href="#withdrawn" data-toggle="pill">Withdrawn</a></li>
  <li><a href="#refused" data-toggle="pill">Refused</a></li>
  <li><a href="#lost" data-toggle="pill">Lost</a></li>
</ul>

<div class="tab-content">
<!-- start tab content -->

<% @categories.each do |category| %> 

<div class="tab-pane fade in<% if category== 'enrolled' %> 
    <%= 'active' %>
    <% end %>" id="<%=category %>">

    <div class="row-fluid">
        <div class= "span8">

        <h4>Subjects <%=category.capitalize %></h4> 
         <div id="<%=category + '_chart' %>"></div>
        </div>

    <div class= "span4">

         <table class="table table-condensed table-hover" style="display:inline; float:right; margin-top:10px">
            <tr style="border-top: 2px solid #ccc;"><th style = "font-size:14px;">Total <%=category.capitalize %></th><td style = "font-size:14px; text-align: right;"><%= @last_entry[category] %></td></tr>

            <% if (category == 'enrolled') || (category=='completed') %>
            <tr>
                <th style = "font-size:14px;">Goal </th>
                <td style = "font-size:14px; text-align: right;">
                    <div id = "goalContent"> 
                         <% if (category == 'enrolled') %>
                        <%= @current_trial.enrolledGoal %>
                        <% else %>
                        <%= @current_trial.completedGoal %>
                        <% end %>
                    </div>
                </td>
            </tr>

            
            <% end %>

            <tr><th style = "font-size:14px">Avg/Month</th><td style = "font-size:14px; text-align: right;"><%= Float(@averages[category]*30).round(1) %></td></tr>
            <tr><th style = "font-size:14px">Avg/Week</th><td style = "font-size:14px; text-align: right;"><%= Float(@averages[category]*7).round(1) %></td></tr>
            <tr><th style = "font-size:14px">Est. by <%= @current_trial.endDate.strftime("%m/%d/%Y") %></th><td style = "font-size:14px; text-align: right;"> <%= Float(@total_length_of_trial* @averages[category]).round(1) %></td></tr>

         </table>

         
    </div>
    </div>
    <div class="row-fluid">
        <div class= "span8">
            <form class="form-inline" action="#" method="post">
                    <div class="btn-group" data-toggle="buttons-checkbox">
                        <button type="button" class="btn btn-inverse active" id = <%= category + '_4_button'%> style = "color:#849CCC" >Progress</button>
                        <% if (category == 'enrolled') || (category=='completed') %>
                        <button type="button" class="btn btn-inverse" style = "color:#dc3912" id = <%= category + '_2_button'%>>Target</button>
                        <% end %>
                        <button type="button" class="btn btn-inverse" style = "color:#ff9900" id = <%= category + '_1_button'%>>Projected</button>
                    </div>
                    
                </form>

        </div>
    </div>
</div> <!-- end Category content -->

<% end %>

    </div> <!-- end tab content -->
<div id ="blank"> </div>
</div>



