 
<html>
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta name="description" content="">
                    <meta name="author" content="">
                        
                        <!-- Le styles -->
                        <link href="/assets/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
                        <link href="/assets/datepicker.css" media="screen" rel="stylesheet" type="text/css" />
                            <style type="text/css">
                                body {
                                    padding-top: 60px;
                                    padding-bottom: 40px;
                                }
                                .sidebar-nav {
                                    padding: 9px 0;
                                }
                                #data_table th, #data_table td {
                                  text-align: right;
                                }
                                .no-margin {
                                  margin: 0px;
                                }
                                </style>
                            <link href="assets/bootstrap-responsive.css" rel="stylesheet">
                                
                                <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
                                <!--[if lt IE 9]>
                                 <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                                 <![endif]-->
                                
                                                                                    
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load("visualization", "1", {packages:["corechart"]});
            google.setOnLoadCallback(drawBarChart);
            google.setOnLoadCallback(drawLineCharts);
                        
            function drawBarChart() {
                // Create and populate the data table.
               var data = new google.visualization.DataTable();
                data.addColumn('string', 'Category');
                data.addColumn('number', 'Value');
                data.addRows([
                    
                    //['Total', 'Subjects'],
                    <% if @categories != nil %>
                      <% @categories.each do |category| %>
                      [ '<%= category.capitalize %>', <%= @last_entry[category] %> ],
                      <% end %>
                      ]);
                    <%end %>             
                // Create and draw the visualization.
                new google.visualization.ColumnChart(document.getElementById('bar_chart')).
                draw(data,
                     {
                     width:515, height:300,
                     backgroundColor:'#EDEDED',
                     legend: {position: 'none'},
                     chartArea: {top: 20, left: 60, height:240, width:415},
                     colors: ['#259C43', '#CDED13', '#296ABD', '#784FC1', '#784FC1', '#784FC1'],
                     }
                     );
            }

            function drawLineCharts() {
              
               <%= render "make_graph_data" %> // makes 7 data sets, for every combination of the three buttons
               // they are called enrolled_1_data, enrolled_2_data, etc
                
                    //totals_by_week is a Hash of the form:
                    //{'enrolled'=> [:entry => 12, :entry => 23], 'active'=> [:entry=> 11, :entry=>20]}
                <% if @categories != nil %>
                <% @categories.each do |category| %>
                var <%= category + '_total' %> = 4; // we start with just the 4 button pressed
                var <%= category + '_4_button'%> = document.getElementById("<%= category + '_4_button'%>");
                var <%= category + '_2_button'%> = document.getElementById("<%= category + '_2_button'%>");
                var <%= category + '_1_button'%> = document.getElementById("<%= category + '_1_button'%>");

                if (<%= category + '_2_button'%> == null) // it is only there for enrolled and completed
                {
                <%= category + '_2_button'%> = document.getElementById("blank");
                }
              
                //set options
                var options = {
                  width:500, height:350,
                  backgroundColor:'#EDEDED',
                  legend: {position: 'none'},
                  chartArea: {top: 20, left: 60, width:400, height:250},
                  hAxis: {format: 'MMM dd'}
                };

                // make the chart
                var <%= category + '_chart'%> = new google.visualization.LineChart(document.getElementById("<%= category + '_chart'%>"))

                // each category has a function draw_enrolled_chart(data)
                function draw<%= category + '_chart'%>(data) {
      // Disabling the button while the chart is drawing.
                <%= category + '_chart'%>.draw(data, options);
                }
                



            <%= category + '_4_button'%>.onclick = function() {
              console.log('clicked a 4 button!')
              console.log(<%= category + '_total' %>)
              if (<%= category + '_total' %> >= 4){
                draw<%= category + '_chart'%>(<%= category + '_data' %>[<%= category + '_total' %>-4]);
                <%= category + '_total' %> -=4;
              }
              else {
                draw<%= category + '_chart'%>(<%= category + '_data' %>[<%= category + '_total' %>+4]);
                <%= category + '_total' %> +=4;
              }
              }

              <%= category + '_2_button'%>.onclick = function() {
              console.log('clicked a 2 button!')
              console.log(<%= category + '_total' %>)
              if (<%= category + '_total' %> ==2 || <%= category + '_total' %> ==6 || <%= category + '_total' %> ==7 || <%= category + '_total' %> ==3){ // 2 is currently pressed
                draw<%= category + '_chart'%>(<%= category + '_data' %>[<%= category + '_total' %>-2]);
                <%= category + '_total' %> -=2;
              }
              else { // 2 is not pressed
                draw<%= category + '_chart'%>(<%= category + '_data' %>[<%= category + '_total' %>+2]);
                <%= category + '_total' %> +=2;
              }
              }

              <%= category + '_1_button'%>.onclick = function() {
              console.log('clicked a 1 button!')
              console.log(<%= category + '_total' %>)
              if (<%= category + '_total' %> % 2 ==1 ){ // 1 is currently pressed
                draw<%= category + '_chart'%>(<%= category + '_data' %>[<%= category + '_total' %>-1]);
                <%= category + '_total' %> -=1;
              }
              else { // 1 is not pressed
                draw<%= category + '_chart'%>(<%= category + '_data' %>[<%= category + '_total' %>+1]);
                <%= category + '_total' %> +=1;
              }
              }




            
            draw<%= category + '_chart'%>(<%= category + '_data' %>[4]);
            <% end %>

            }
            <%end%>
            
            </script>
    </head>
    
    <body>




        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/home/index">TrialTracker </a>
                    
                    

                    <div class="nav-collapse collapse">
                        <p class="navbar-text pull-right">
                        Logged in as <a href="#" class="navbar-link"><%= session[:username] %></a>
                        </p>
                        <ul class="nav">

                            <li> <%= link_to("About", about_path) %></li>

                            <li><%= link_to("FAQ", faq_path) %></li>
                            <li> <%=link_to("Logout", logout_path) %> </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        
        
        
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3" >
                    <div class="well sidebar-nav" data-spy="affix" style = "width:282px">
                        <ul class="nav nav-list">
                            <li class="nav-header"><h5><%= session[:username] %><h5></li>
                        <!--     <li class="nav-header">My Trials</li>
                            <li class="active"><a href="#">Cancer</a></li>
                            <li><a href="#">Flesh Eating Bacteria</a></li> -->
                            <% if flash[:notice] %>
                            <div class="notice">
                              <div class="alert">
                                 <strong><%= flash[:notice] %></strong>
                               </div>
                            </div>
                            <% end %>
                           
                            <%= render 'trials/index' %>
                            
                            <li class="nav-header">Add or join more Trials</li>
                            <a href="#addTrialModal" role="button" class="btn btn-success" data-toggle="modal">Add Trial</a>
                        </ul>
                    </div><!--/.well -->
                </div><!--/span-->

<!-- *********** modal is in views/home/_modal.html.erb ****************-->
        <%= render "modal" %>
        <%= render "editmodal" %>


                <div class="span9">
                    
                    <div class="hero-unit">

                      
                        
                        <ul class="nav nav-tabs" id="myTab">
                          <li
                            <% if session[:current_tab] == 'settings' %>
class = 'active'
  <% end %>
>
                            <a href="#settings" data-toggle="tab">Settings</a></li>
                            
                            <li
                            <% if session[:current_tab] == 'edit_data' %>
class = 'active'
  <% end %>
><a href="#edit" data-toggle="tab">Edit Data</a></li>
                            

                            <li
<% if session[:current_tab] == 'view_trends' %>
class = 'active'
  <% end %>
><a href="#view_trends" data-toggle="tab">View Trends</a></li>
                        </ul>
                        
                        <div class="tab-content">




        
                            
                            
             <!-- *********** Settings is in views/home/_settings.html.erb ****************-->                     
        <%= render "settings" %> 
 

<!-- *********** Edit Data is in views/home/_edit_data.html.erb ****************-->
        <%= render "edit_data" %>  

       <!-- *********** View Trends is in views/home/_view_trends.html.erb ****************-->
        <%= render "view_trends" %>  

                 
                            
                             
                     


       
                        </div>
                        
                        
                    </div>
                    
                </div><!--/span-->
            </div><!--/row-->
            
            <hr>
            
            <footer>
                <p>&copy; Company 2012</p>
            </footer>
            
        </div><!--/.fluid-container-->
        
        <!-- Le javascript
         ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/assets/bootstrap.min.js"></script>
        <script src="/assets/bootstrap-datepicker.js"></script>
        <script type="text/javascript">
        $(document).ready(function(){ 
        $(".datepicker").datepicker()
        .on('changeDate', function(ev){
    });

      })
        $(document).ready(function(){ 
$('.delete_post').click(function(){
    $(this).closest('tr').fadeOut();  
}); 
$('#editEntry').click(function(){
  console.log("clicked button!")
    $(this).closest('tr').fadeOut();  
});  
});
        </script>
        
    </body>
