 
<html>
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta name="description" content="">
                    <meta name="author" content="">
                        
                        <!-- Le styles -->
                        <link href="/assets/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
                            <style type="text/css">
                                body {
                                    padding-top: 60px;
                                    padding-bottom: 40px;
                                }
                                .sidebar-nav {
                                    padding: 9px 0;
                                }
                                #data_table th, #data_table td {
                                  text-align: right;
                                }
                                </style>
                            <link href="assets/bootstrap-responsive.css" rel="stylesheet">
                                
                                <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
                                <!--[if lt IE 9]>
                                 <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                                 <![endif]-->
                                
                                                                                    
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load("visualization", "1", {packages:["corechart"]});
            google.setOnLoadCallback(drawBarChart);
            google.setOnLoadCallback(drawLineCharts);
                        
            function drawBarChart() {
                // Create and populate the data table.
                var data = google.visualization.arrayToDataTable(
                    [
                    ['Total', 'Subjects'],
                    <% @totals.each_pair do |k,v| %>
                    [ '<%= k.capitalize %>', <%= v %> ],
                    <% end %>
                    ]);
                
                // Create and draw the visualization.
                new google.visualization.ColumnChart(document.getElementById('bar_chart')).
                draw(data,
                     {
                     width:500, height:300,
                     backgroundColor:'#EDEDED',
                     legend: {position: 'none'},
                     chartArea: {top: 20, left: 60, height:200, width:400}
                     }
                     );
            }

            function drawLineCharts() {
              
               <%= render "make_graph_data" %> // makes 7 data sets, for every combination of the three buttons
               // they are called enrolled_1_data, enrolled_2_data, etc
                
                    //totals_by_week is a Hash of the form:
                    //{'enrolled'=> [:entry => 12, :entry => 23], 'active'=> [:entry=> 11, :entry=>20]}
               <% @totals_by_week.each_pair do |category, data| %> 
                var <%= category + '_total' %> = 4; // we start with just the 4 button pressed
                var <%= category + '_button'%> = document.getElementById("<%= category + '_4_button'%>");
                var <%= category + '_button'%> = document.getElementById("<%= category + '_2_button'%>");
                var <%= category + '_button'%> = document.getElementById("<%= category + '_1_button'%>");

              
                //set options
                var options = {
                  width:500, height:350,
                  backgroundColor:'#EDEDED',
                  //legend: {position: 'none'},
                  chartArea: {top: 20, left: 60, width:400, height:250},
                };

                // make the chart
                var <%= category + '_chart'%> = new google.visualization.LineChart(document.getElementById("<%= category + '_chart'%>"))

                // each category has a function draw_enrolled_chart(data)
                function draw<%= category + '_chart'%>(data) {
      // Disabling the button while the chart is drawing.
                <%= category + '_chart'%>.draw(data, options);
                }
                



            <%= category + '_4_button'%>.onclick = function() {
              console.log('clicked a 4 button!')
              console.log(<%= category + '_total' %>)
              if (<%= category + '_total' %> >= 4){
                draw<%= category + '_chart'%>(<%= category + '_data' %>[<%= category + '_total' %>-4]);
                <%= category + '_total' %> -=4;
              }
              else {
                draw<%= category + '_chart'%>(<%= category + '_data' %>[<%= category + '_total' %>+4]);
                <%= category + '_total' %> +=4;
              }
              }

              <%= category + '_2_button'%>.onclick = function() {
              console.log('clicked a 2 button!')
              console.log(<%= category + '_total' %>)
              if (<%= category + '_total' %> ==2 || <%= category + '_total' %> ==6 || <%= category + '_total' %> ==7 || <%= category + '_total' %> ==3){ // 2 is currently pressed
                draw<%= category + '_chart'%>(<%= category + '_data' %>[<%= category + '_total' %>-2]);
                <%= category + '_total' %> -=2;
              }
              else { // 2 is not pressed
                draw<%= category + '_chart'%>(<%= category + '_data' %>[<%= category + '_total' %>+2]);
                <%= category + '_total' %> +=2;
              }
              }

              <%= category + '_1_button'%>.onclick = function() {
              console.log('clicked a 1 button!')
              console.log(<%= category + '_total' %>)
              if (<%= category + '_total' %> % 2 ==1 ){ // 1 is currently pressed
                draw<%= category + '_chart'%>(<%= category + '_data' %>[<%= category + '_total' %>-1]);
                <%= category + '_total' %> -=1;
              }
              else { // 1 is not pressed
                draw<%= category + '_chart'%>(<%= category + '_data' %>[<%= category + '_total' %>+1]);
                <%= category + '_total' %> +=1;
              }
              }




            
            draw<%= category + '_chart'%>(<%= category + '_data' %>[4]);
            <% end %>

            }
            
            </script>
    </head>
    
    <body>




        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">TrialTracker </a>
                    
                    

                    <div class="nav-collapse collapse">
                        <p class="navbar-text pull-right">
                        Logged in as <a href="#" class="navbar-link">Username</a>
                        </p>
                        <ul class="nav">
                             <li> <%=link_to("Splash", splashes_path) %> </li>
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        
        
        
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3" >
                    <div class="well sidebar-nav" data-spy="affix" style = "width:282px">
                        <ul class="nav nav-list">
                            <li class="nav-header">dukeCRC24</li>
                            <li class="nav-header">My Trials</li>
                            <li class="active"><a href="#">Cancer</a></li>
                            <li><a href="#">Flesh Eating Bacteria</a></li>
                            <li><a href="#">Herpes</a></li>
                            <li><a href="#">Worms</a></li>
                            <li><a href="#">Leukemia</a></li>
                            <li><a href="#">Lung Cancer</a></li>
                            
                            <li><a href="#">Obesity</a></li>
                            <li><a href="#">Elephantitis</a></li>
                            <li class="nav-header">Add or join more Trials</li>
                            <a href="#addTrialModal" role="button" class="btn btn-success" data-toggle="modal">New Trial</a>
                        </ul>
                    </div><!--/.well -->
                </div><!--/span-->

<!-- *********** modal is in views/home/_modal.html.erb ****************-->
        <%= render "modal" %>


                <div class="span9">
                    
                    <div class="hero-unit">

                      
                        
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#home" data-toggle="tab">View Trends</a></li>
                            <li><a href="#edit" data-toggle="tab">Edit Data</a></li>
                            <!--<li><a href="#report" data-toggle="tab">Report</a></li>-->
                            <li><a href="#settings" data-toggle="tab">Settings</a></li>
                        </ul>
                        
                        <div class="tab-content">


<!-- *********** View Trends is in views/home/_view_trends.html.erb ****************-->
       <%= render "view_trends" %>                     
                            
                            
                            
                     
                
<!-- *********** Edit Data is in views/home/_edit_data.html.erb ****************-->
       <%= render "edit_data" %> 

        
                            
                            
                            <!--<div class="tab-pane fade" id="report">...</div>-->
                            <div class="tab-pane fade" id="settings">...</div>
                        </div>
                        
                        
                    </div>
                    
                </div><!--/span-->
            </div><!--/row-->
            
            <hr>
            
            <footer>
                <p>&copy; Company 2012</p>
            </footer>
            
        </div><!--/.fluid-container-->
        
        <!-- Le javascript
         ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/assets/bootstrap.min.js"></script>
        
    </body>
